p {
    background-color: pink;
    font-family: Verdana, DejaVu Sans, sans-serif;
}
#secundo {
    color: blue;
    font-size: 36px;
}
.child {
    font-size: 24px;
}
#another {
    font-size: 24px;
    background-color: lightgreen;
}